<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>דף הבית</title>
    <link rel="stylesheet" href="../css/general.css" />
    <link rel="stylesheet" href="../css/home.css">
  </head>
  <body class="front">
    <header class="navBar">
      <ul>
        <li><a href="../home/home.html">דף הבית</a></li>
        <li><a href="../forms/forms.html">טפסים</a></li>
      </ul>
    </header>
    <main>
      <h1>אודות הפרויקט</h1>
      <article>
        <p>
          1. מערכת הנהלת חשבונות מתקדמת, המציעה ניהול יעיל למשרדי הנהלת חשבונות
          ומנגישה את הנתונים ללקוח (בעלי העסקים). מערכת ירוקה, המיועדת לפתור את
          השימוש בדפים וקלסרים ומציגה את כל החומר בצורה נקיה.
        </p>
        <p>
          2. מטרת המערכת להעניק למשרדי הנהלת חשבונות חווית עבודה נוחה ומהירה
          יותר, חסכונית בזמן עבודה וטרחה הן ללקוח והן לעובדי המשרד.
        </p>
        <p>
          3. המערכת תכלול קליטת מסמכים וחשבוניות שאותם ניתן להעלות, ולהציג מהם
          דוחות הנה"ח כגון דוחות מע"מ ומס הכנסה, דוח רווח והפסד וכדומה. תרשימים
          למנהל המשרד המספקים מידע על פעילות העובדים ומצב העבודה במשרד.
        </p>
        <p>
          4. ביצוע הנה"ח חשבונות באופן מקוון לעומת מערכות המתבססות על חומר פיזי.
          ניהול הנתונים בענן מאפשר גישה מכל מקום לעומת תוכנות המתבססות על שרת
          מקומי. מערכת חכמה הלומדת את פעילות המשתמש ומקצרת את זמן העבודה.
        </p>
        <p>
          5. כיום קיימות בשוק מספר מערכות הדומות לרעיון שלנו אך אינם בנויות
          בצורה מסודרת ונוחה ואינם מאפשרות למנהלי חשבונות ורואי חשבון עבודה
          יעילה מהירה ואמינה. אנו ננסה להקים מערכת אחת העונה על החסרונות האלו.
        </p>
      </article>
    </main>
    <footer>עזרא והודיה חיו &copy;</footer>
  </body>
</html>
