<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>כניסה</title>
    <link rel="stylesheet" href="../css/general.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <script src="./login.js" defer></script>
  </head>
  <body>
    <main>
      <h1>כניסה</h1>
      <form method="POST">
        <input
          class="user"
          type="text"
          name="userName"
          placeholder="שם משתמש"
        />
        <input
          class="password"
          type="text"
          name="password"
          placeholder="סיסמה"
        />
        <button type="submit" id="Btnlog">התחבר</button>
      </form>
      <p class="message"></p>
    </main>
    <footer>עזרא והודיה חיו &copy;</footer>
  </body>
</html>
